#rock {
    color: transparent; 
    border: 0;
    background-image: url("images/rock.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    background-color: transparent;
  }
  
  #paper {
    color: transparent;
    border: 0;
    background-image: url("images/paper.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    background-color: transparent;
  }
  
  #scissors {
    color: transparent;
    border: 0;
    background-image: url("images/scissors.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    background-color: transparent;
  }

body{
    background-color: #c7f1fc;
    justify-content: center;
	margin-bottom: 30px;
	margin-top: 30px;
	font-family: 'Comic Sans MS';
	margin: 0;
	text-align: center;
	font-size: 20px;
	color: Black;
	flex-direction: column;
	margin: auto;
	}


#restart-button{
  background: #223641;
  border-radius: 10px;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 50px;
  width: 100px;
  margin-top: 40px;
  font: bold 15px arial, sans-serif;
}

h2{
	margin-top: 30px;
}

#computer-choice{
	font-family: 'Comic Sans MS';
	font-size: 35px;
	color: Black;
}

#user-choice{
    font-family: 'Comic Sans MS';
	font-size: 35px;
	color: Black;
}

#results{
    font-family: 'Comic Sans MS', bold;
	font-size: 35px;
	color: Black;
}

